$black          : #252525;
$darkgrey       : #333333;
$grey           : #666666;
$darkblue       : #114c62;
$blue           : #11789d;
$lightblue      : #cfe4eb;
$lighterblue    : #d0e4eb;
$lightestblue   : #e7f1f5;
$red            : #f76b6b;
$yellow         : #ffd930;

$fb-blue: #3b5998;

$calendar-bg-color: #f0f0f0;
$calendar-content-bg-color: $blue;

$load_y     : url(../statics/loading_yellow.gif);
$load_d     : url(../statics/loading_dark.gif);
$load_r     : url(../statics/loading_red.gif);
$load_b     : url(../statics/loading_blue.gif);


$hvid-pil   : url(../statics/hvid-pil.png);
$gul-pil   : url(../statics/gul-pil.png);

$grid           : url(../statics/grid.png) repeat center top #fff;
$smear          : url(../statics/smear.png) no-repeat left center;
$check-list     : url(../statics/check-list.png);
$check-list-br  : url(../statics/check-list-blue-red.png);
