#footer {
    display: block;
    clear: both;
    border-top:80px solid white;
    background: $blue;
    box-sizing: border-box;
    *{box-sizing: inherit;}
    overflow:auto;
    
    .footer-inner{
        padding:40px 0px 80px;
        max-width:1620px;
        margin:auto;
        color:white;
        overflow:auto;
        clear: both;
        text-align: center;
    }
    
    .footer-column{
        padding:0px 10px;
        
        text-align: left;
        display: inline-block;
        float:left;
        width:100%;
        
        div{
            padding:10px 0px;
        }
        
        @media only screen and(min-width:480px){
            padding:0px 20px;
        }
        
        @media only screen and(min-width:640px){
            width:50%;
            max-width:320px;
             
            &.footer-menu{
                float:right;
            }
        }
        
        @media only screen and(min-width:580px){
            width:37.5%;
             
            &.footer-menu{
                width:25%;
            }
        }
    }
    
    .footer-logo{
        background:white;
        padding:5px 10px;
        margin:10px;
        @media only screen and(min-width:480px){
            margin:20px;
        }
        
        display: block;
        max-width:220px;
    }
    
    .footer-menu{
        a{
            color:white;
            text-decoration: none;
        }
    }
}