.news-container{
    padding:10px 0px;
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow:auto;
}

.news-entry{
    display:block;
    float:left;
    padding:0px 10px;
    margin:10px 0px;
    overflow:hidden;
    position:relative;
    box-sizing: border-box;
    width:100%;
    
    >div{
        width:100%;
        position:relative;
        padding-top: 50%;
        height: 0;
        background:$fb-blue;
    }
    
    .news-img{
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        top:0;
        background-color:$fb-blue;
        overflow:hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &.loading{
            background-size: 20px;
            background-image: url(../statics/loading_blue.gif);
        }
        
        img{
            height:auto;
            width:100%;
        
        }
    }
    
    .news-preread{
        position:absolute;
        width:100%;
        height:100%;
        background:$fb-blue;
        box-sizing: border-box;
        margin-top: -30px;
        top:100%;
        transition:top .3s, margin-top .3s;
        
        .news-date{
            font-size:10px;
            line-height:10px;
            color:#fff;
            text-decoration:none;
            display: block;
            padding:10px;
            font-weight:bold;
            background-color: rgba(0,0,0,.1);
            position: relative;

            svg{
                position: absolute;
                top: 0;
                right: 0;
                width: 16px;
                height: 14px;
                padding: 8px;
                fill: white;
                background-color: rgba(0,0,0,.1);
            }
        
        }
        
        .news-title{
            font-size:12px;
            line-height:1.5;
            color:#fff;
            margin:10px;
            //font-weight:bold;
        }
    }
    &:hover .news-preread{
        margin-top:0;
        top:0;    
    }

    $news-footer-height: 50px;
    .news-footer {
        transition:bottom .15s, opacity .15s;
        transition-delay: 0;
        position: absolute;
        bottom: -$news-footer-height;
        opacity: 0;
        width: 100%;
        height: $news-footer-height;
        line-height: $news-footer-height;
        padding: 0px 10px;
        background-color: rgba(0,0,0,.1);
        color: white;
        text-decoration: none;
        font-size: 11px;
        font-weight: bold;
        box-sizing: border-box;
        text-transform: uppercase;
    }
    &:hover .news-footer{
        bottom: 0px;
        opacity: 1;
        transition:bottom .3s, opacity .3s;
        transition-delay: .15s;
    }
}


.news-entry.behind-more{
    display:none;
}

.news-more-btn {
    padding: 10px 0px;
    margin: 10px;
    display: block;
    position: relative;
    clear: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    background: darken($fb-blue,20);
    border-radius: 5px;
    transition:background .2s;
    
    &:hover{
        background:darken($fb-blue,15);
    }

}




@media(min-width:480px){
    
    .news-entry.news-preview-large{
    
    padding-top:20px;
    
        >div{
            padding-top:99.9%;

            .news-img{
                top:-20px;
                
            }
        }

        &:hover .news-preread{
            top:-20px;    
        }
    }
    
    .news-entry.behind-more{
        display:block;
    }
    
    .news-entry{
        width:50%;
    }
}

@media(min-width:1150px){
    .news-entry{width:33.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;}
}









/* ARKIV */

.archive-entry{
    
    display: block;
    position:relative;
    padding:20px 10px;
    overflow:auto;
    cursor:pointer;
    
    .archive-img{
        display: inline-block;
        float:left;
        width:100%;
        position:relative;
        
    }
    
    .archive-img.archive-video{
        position: relative;
        width: 100%;
        height: 0px;
        overflow: hidden;
        padding-top: 56%;
        
        iframe{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            
        }
    }
    
    .archive-preread{
        display: inline-block;
        float:left;
        width:100%;
        background:$black;
        color:#fff;
        transition:background .2s;
        position:relative;
        padding-bottom:15px;
        
        span, h6{
            padding:15px;
            display: block;
        }
        
    }
    
    &.yellow .archive-preread{
        background:$yellow;
        color:$black;  
        transition:opacity .2s;
    
    }
    
    .archive-content{
        display:none;
        height:0px;
        overflow:hidden;
        box-sizing:border-box;
        padding:20px 20px 50px;
        background:$lighterblue;
        clear:both;
        }
    
    &.reading {
        
        .archive-content{
            display:block;
            height:auto;
        }    
    
    }
    
    &:hover .archive-preread{
            background:grey;
    }
    
    &.reading:hover,&.disabled:hover{
        
        cursor:default;
        
        .archive-preread{
        background:$black;
        
        }
    }
}

 .archive-entry.yellow:hover .archive-preread{
        background:$yellow;
        color:$black;
        opacity:.7;
    
    }


.page .archive-entry .archive-preread {

    background: $lightblue;
    color: $black;
    
    &:hover{
        background:$lightestblue;
    }

}


.archive-entry:first-child{
    
    padding-top:10px;
    
}

@media(min-width:960px){
    
    .archive-entry .archive-img, .archive-entry .archive-preread, .archive-entry .archive-img.archive-video{
        width:50%;
        padding-top:25%;
        height:0px;
        padding-bottom:0;
        overflow:hidden;
        
         iframe{
            width:100%!important;
            height:100%!important;
            position:absolute;
            top:0;
            
        }
        
        img{
            
            position:absolute;
            top:0;
        }
        
        h4{

            position:absolute;
            top:0;
            padding:15px 15px 0;
        }
        
        .preread-inner{
            position:absolute;
            top:0;
            
            h4{
                position:relative;
            }
        }
        
        span{
            position:absolute;
            bottom:15px;
            left:15px;
            padding:0;
        }
        
    }
    
    .archive-entry.archive-entry-no-img{
        .archive-preread{
            width:100%;
        }
    
    }
        
}
