.status-container{
    padding:20px 10px;
    
    hr.red{
        margin:0!important;
    }
    
    h4{
        padding-top:0;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 5px;
        padding-left: 0;
        color: black;
        font-size: 175%;
        line-height: 1.2;
        display: block;
    }
    &.first .status-post,
    &.first .status-post-count.show,
    .status-post.show{
        display: block;
        
        & + hr{
            display: block;
        }
    }
    
    &.first .status-post-count{
        display: none;
    }
    
    .status-post{
        overflow:auto;
        padding:20px 0px;
        display: none;
        font-weight:bold;
        
        & + hr{
            display: none;
        }
    }
    
    .status-post-count a,
    .status-post-content{
        display: inline;
        padding:5px;
        background:$blue;
        color:white;
        line-height:2.1;
        font-size:110%;
        text-decoration: none;
        box-decoration-break: clone;
    }
    
    .status-post-count{
        margin-bottom: 20px;
        position:relative;
        display: inline-block;
        
        a{
            padding:5px 15px;    
        }
        
        &:after{
            content:'';
            display: block;
            position:absolute;
            right:-20px;
            top:2px;
            border-top:13px solid transparent;
            border-bottom:13px solid transparent;
            border-left:13px solid $blue;
        }
    }
    
    .status-post-author{
        display: block;
        margin-top: 20px;
    }
}

.status-comment textarea {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0px 10px;
    border: 10px solid $red;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    resize: none;
}

.form-submit{
    text-align: right;
}
.form-submit input[type="submit"],
.form-submit a.button{
    width:auto;
    height:auto;
    box-sizing:content-box;
    line-height: inherit;
    outline: none;
    margin-left:10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: $blue;
    padding: 7px 25px;
    display: inline-block;
    font-size: inherit;
    opacity: .9;
    transition: opacity 120ms;
    
    &:hover{
        opacity: 1;
    }
    
    &.black{
        background-color: $black;
    }
}

.user-info{
    padding:7px 0px;
    float:left;
}