/* UberMenu - Copyright 2011-2014, SevenSpark */
.ubermenu-skin-none {
    font-size: .9rem;
    line-height:1rem;
    color: #fff;
    padding-left:260px;
    
     .ubermenu-item-level-0 .ubermenu-target {
        color: #fff;
        padding:0px 20px;
        line-height:44px;
        position:relative;
        outline: none!important;
        transition:text-shadow .2s;
    
        &:after{
            content:'|';
            position:absolute;
            left:-5px;
            top:0;
            line-height:48px;
            font-size:.8rem;
            text-shadow: none;
        }
         
    }
    
    .ubermenu-submenu-type-stack .ubermenu-target {
        line-height: 16px;
        display: inline-block;
        padding: 0px 10px 0px 20px;
        color: $black;
        max-width: 100%;
        font-size: .9rem;
        margin: 5px 0px;
        text-decoration: none;
        font-weight: normal;
        position: relative;
        
        
        &:after{
            content:'';
            background:url(statics/smear-2.png) no-repeat;
            background-position: right top;
            display:block;
            position: absolute;
            height:100%;
            width:0;
            transition:width 0s;
            top:0;
            margin-left:0px;        
        }
                
        &:hover:after{
            width:100%;
            transition:width .2s linear;
        }
             
    }
    
    .ubermenu-submenu-type-stack li.current_page_item .ubermenu-target:after, 
    .ubermenu-submenu-type-stack li.current_page_item .ubermenu-target:hover:after,
    .ubermenu-submenu-type-stack li.current-menu-item .ubermenu-target:after, 
    .ubermenu-submenu-type-stack li.current-menu-item .ubermenu-target:hover:after{
            
            background:url(statics/line-through.png) right center no-repeat;
            cursor:default;
            width:100%;
        
        } 
    
    .ubermenu-nav li:first-child .ubermenu-target:after{
        content:'';
    }
    
    .ubermenu-target-description {
      color: #aaaaaa;
    }
    
    &:hover {
        background: transparent;
    }
    
}
.ubermenu-skin-none.ubermenu-responsive-toggle {
    background: $blue;
    color: #fff;
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;
}

.ubermenu-skin-none {
  border: none;
  background: transparent;
}
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target {
    color: #fff;
    background: transparent;
    height:45px;
    
    &:after{
        content:'|';
        
    }
}
.ubermenu-skin-none .ubermenu-item.ubermenu-item-level-0 > .ubermenu-highlight {
  color: #fff;
  background: transparent;
}
.ubermenu-skin-none.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  background: transparent;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-target {
  font-weight: normal;
  color: #FFF;
  text-transform: none;
  border-left: none;
}
.ubermenu-skin-none .ubermenu-item-level-0:first-child > .ubermenu-target {
  box-shadow: none;
}
.ubermenu-skin-none .ubermenu-item-level-0:hover > .ubermenu-target,
.ubermenu-skin-none .ubermenu-item-level-0.ubermenu-active > .ubermenu-target {
    background: transparent;
    color: #FFF;
    text-shadow:.25px 0px 0px rgba(255,255,255,1), -.25px 0px 0px rgba(255,255,255,1),;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target {
  color: #FFF;
}
.ubermenu-skin-none .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item > .ubermenu-target:hover {
  color: #FFF;
}
.ubermenu-skin-none .ubermenu-submenu.ubermenu-submenu-drop {
    background: $grid;
    padding-bottom:50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.ubermenu-skin-none.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  border-top: 1px solid #e0e0e0;
}
.ubermenu-skin-none .ubermenu-tab-content-panel {
  background: transparent;
}
.ubermenu-skin-none .ubermenu-submenu,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target {
  color: $black;
    
    &:after{
        content:'';
    }
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-highlight {
  color: #4d90fe;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target:hover,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-active > .ubermenu-target {
  color: #111111;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-target > .ubermenu-target-description {
  color: #aaaaaa;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-active > .ubermenu-target > .ubermenu-target-description {
  color: #666666;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
    font-size: 1.3rem;
    background:url(statics/smear.png) no-repeat right center;
    padding:20px 50px 10px 20px;
    color:$black!important;
    font-weight:bold;
    
    &:after{
        background:none;
    }
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.ubermenu-skin-none .ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
  color: #222222;
}

.ubermenu-nojs.ubermenu-skin-none .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
.ubermenu-skin-none .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
  background: url(statics/smear.png) no-repeat -370px center;;
  color: #111111;
}
.ubermenu-skin-none .ubermenu-tabs-group,
.ubermenu-skin-none .ubermenu-tab > .ubermenu-target,
.ubermenu-skin-none .ubermenu-tab-content-panel {
  border-color: #eeeeee;
}
.ubermenu-skin-none .ubermenu-submenu-drop {
    border-bottom-width: 3px;
}


.ubermenu .ubermenu-active>.ubermenu-submenu.ubermenu-submenu-type-mega {
    max-height: 21000px;
    z-index:20;
    transform: translate3d(0,0,0);
        
    iframe{
        z-index:0;
    }
    
    }



.ubermenu-item iframe {
    opacity:0;
    z-index:-1;
}

.ubermenu-item.ubermenu-active iframe {
     opacity:1;
    z-index:1;
}



/* Billeder */

a.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_left {
height: 60px;
}

a.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-image_left:hover {
background: rgba(0,0,50,0.1);
transition: background .3s;
}

img.ubermenu-image.ubermenu-image-size-thumbnail {
width: 50px;
height: 50px;
margin-right: 20px;
margin-left: -15px;
}


@media(max-width:1020px){
    .ubermenu-skin-none .ubermenu-item-level-0>.ubermenu-target  {
    
        font-size:.8rem;
    }
}

@media(max-width:960px){
    .ubermenu-skin-none .ubermenu-item-level-0>.ubermenu-target  {
    
        font-size:.7rem;
    }
}

@media(max-width:900px){
    .ubermenu-skin-none .ubermenu-item-level-0>.ubermenu-target  {
    
        font-size:.65rem;
    }
}
@media(max-width:875px){
    
    .ubermenu-skin-none{
        padding-left:0;
        
        .ubermenu-item-level-0>.ubermenu-target  {
        font-size:.9rem;
        }
    }
    
    .ubermenu-skin-none.ubermenu-responsive-toggle {
        float: right;
    }
    
    .ubermenu-skin-none.ubermenu.ubermenu-responsive .ubermenu-column, .ubermenu.ubermenu-responsive .ubermenu-column-auto {
        min-width: 0;
    }
    
    .ubermenu-skin-none.ubermenu-main.ubermenu .ubermenu-nav .ubermenu-column-1-5 {
        width: 45%!important;
    }
    
    .ubermenu-skin-none.ubermenu-main.ubermenu .ubermenu-nav .ubermenu-column-3-4 {
         width: 50%!important;
     }
}

@media(max-width:480px){
  .ubermenu-skin-none.ubermenu-responsive-toggle {
        font-size: 0px;
      
      i{
        font-size: 1.4rem;
        position: absolute;
        right: 0px;
        top: 13.5px;
      }
    }

}

@media screen and (max-width: 540px){
.ubermenu.ubermenu-responsive .ubermenu-column, .ubermenu.ubermenu-responsive .ubermenu-column-auto {
  min-width: 100%!important;
}

}