body.smamo-theme-2{
    
    background:#333;
    color:#ddd;
    
    hr.red{
       background-image:url(../statics/grey-long.gif);
    }
    
    #head, .ubermenu-skin-none.ubermenu-responsive-toggle {
        background: #333;
        transition:.5s;
    
    }
    
    .blueonwhite, #slideshow .slide .text h2, #slideshow .slide .text span{
        color: #444;
    }
    
    
    #page-title, form #status-buttons div.left, form #status-buttons div.left > a {
        color:#ddd;
    }
    
    .archive-entry .archive-content{
        background:#99aaaa;
        color:#000;
    }
    
    .whiteonblue, .smamo_img_widget span, .status_post div:first-child span {
        color: #444;
        background: #fff;
        box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
    }

    .smamo_img_widget span {
        color: #444;
    }
    
    form #status-compose, form #status-buttons #btn-send {
        background: #99aaaa;
    }
}
