$metro-at: #5082bd;
$metro-srp: #01b050;
$metro-us: #fdc002;
$metro-ss: #fe0509;
$metro-sf: #662099;

$metro-g-3: #797979;
$metro-g-2: #8e8e8e;
$metro-g-1: #bababa;

$metro-g-light-3: #e1e1e1;
$metro-g-light-2: #eaeaea;
$metro-g-light-1: #f5f5f5;